* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.search-wrapper {
	width: 65%;
	margin: 0 auto;
}

.search-wrapper p {
	margin: 0;
	padding: 0;
	width: 230px;
	text-align: left;
	color: #fff;
	margin-left: 10px;
	font-size: 14px;
}

.searchForm {
	display: flex;
	width: 100%;
	margin: 0 auto;
}

button {
	width: 30px;
	height: 30px;
	border: none;
	background: #343a40;
	border-radius: 0 3px 3px 0;
	outline: none;
}

img {
	width: 50%;
}


input {
	padding: 5px;
	padding-left: 10px;
	border-radius: 3px 0 0 3px;
	border: transparent;
	width: 97%;
	outline: none;
}





